<tr>
    <td><%= artist.name %></td>
    <td>Years active: <%= artist.years_active %></td>
    <td><%= link_to "Show", artist_path(artist), class: "btn btn-primary" %></td>
    <td><%= link_to "Edit", artist_path(artist), class: "btn btn-warning" %></td>
</tr>
