<h2>Artists</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Years active</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <%= render(@artists) %>      
    </tbody>
</table>
