<div class="comment">
    <div><strong><%= comment.name %></strong>: <%= comment.text %></div>
    <div>
        <%= link_to "Delete", album_comment_path([album, comment]), data: { "turbo-method": :delete } %> | 
        <%= link_to "Edit", edit_album_comment_path([album, comment]) %>
    </div>
</div>
