<h2>Albums</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <%= render(@albums) %>
    </tbody>
</table>

