<h2>Album details</h2>
<div class="mb-3"><b>Name:</b> <%= @album.name %></div>
<div class="mb-3"><b>Price:</b> <%= @album.price %></div>
<div class="mb-3">
    <%= button_to "Delete", 
        album_path(@album), 
        method: :delete, 
        data: { turbo_confirm: "Are you sure?" }, 
        class: "btn btn-danger" %>
</div>

<turbo-frame id="add_comment">
    <%= link_to "Add comment", new_album_comment_path(@album) %>
</turbo-frame>

<div>
    <% @album.comments.each do |comment| %>
        <% if comment.name && comment.text %>
            <div id="comments"></div>
        <% end %>
    <% end %>
</div>

